---
---
@use 'main';

#site-banner,
.page .page-header {
  background-image: url('{{ "/assets/img/background.jpg" | relative_url }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 220px; /* adjust if you want a taller hero */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('{{ "/assets/img/background.jpg" | relative_url }}') center / cover no-repeat fixed;
  opacity: .28;
  z-index: -1;
}
